<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Timetable</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, sans-serif;
        }
        th, td {
            border: 1px solid #000;
            padding: 6px;
            text-align: center;
            vertical-align: middle;
        }
        th {
            background-color: #f2f2f2;
        }
        td {
            min-height: 50px;
        }
    </style>
</head>
<body>
    <h2 style="text-align:center;">Class Timetable</h2>
    <table>
        <thead>
          <tr>
              <th>DAY / TIME</th>
              {% for time in slot_timings %}
                 <th>{{ time }}</th>
              {% endfor %}
          </tr>
        </thead>



        <tbody>
            {% for row in timetable %}
            <tr>
               <td><strong>{{ row.day }}</strong></td>
               {% for slot in row.slots %}
                  <td>{{ slot }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
